base.html
<!-- <li><a href="{% url 'cart_detail' %}"><i class="fa fa-shopping-cart"></i> Cart<span class="badge bg-secondary">{{request.session.cart|length}}</span></a></li> -->
								<!-- {% if user.is_authenticated %}
								<li><a href="{% url 'logout' %}"><i class="fa fa-lock"></i> Logout</a></li>
								{% else %}
								<li><a href="{% url 'login' %}"><i class="fa fa-lock"></i> Login</a></li>
								{% endif %} -->

                                <li><a href="{% url 'cart_detail' %}">Product Details</a></li> 

                                <li><a href="{% url 'contact_page' %}">Contact</a></li>

                                      <!-- <a href="{% url 'cart_add' prod.id %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a> -->